<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <default>
        <catalog_price_decimal>
            <general>
                <price_precision>2</price_precision>
            </general>
        </catalog_price_decimal>
        <catalog_price_decimalCart>
            <general>
                <price_precisionCart>2</price_precisionCart>
            </general>
        </catalog_price_decimalCart>
        <catalog_price_decimalCheckout>
            <general>
                <price_precisionCheckout>2</price_precisionCheckout>
            </general>
        </catalog_price_decimalCheckout>
    </default>
    <websites>
        <admin>
            <catalog_price_decimal>
                <general>
                    <enable>0</enable>
                </general>
            </catalog_price_decimal>
	        <catalog_price_decimalCart>
                <general>
                    <enable>0</enable>
                </general>
	        </catalog_price_decimalCart>
	        <catalog_price_decimalCheckout>
                <general>
                    <enable>0</enable>
                </general>
	        </catalog_price_decimalCheckout>
        </admin>
    </websites>
</config>
