<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog_price_decimal" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
            <tab>catalog</tab>
            <resource>Lillik_PriceDecimal::config</resource>
            <label>Simple Price Decimal (Precision)</label>
            <group id="general" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="can_show_decimal" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <label>Show the decimal?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price_precision" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Decimal Length</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <source_model>Lillik\PriceDecimal\Block\System\Config\Form\Field\Precision</source_model>
                </field>
        </group>
        </section>
    </system>
</config>
